.detailss{
    width: 90%;
    margin: auto;
}

.latest{
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.latest h3 span{
    border-bottom:3px solid rgb(9, 152, 9) ;
}

.latest h5{
    padding: 20px 0px;
    cursor: pointer;
    border-bottom: 2px solid #ccc;
}