.news_button button{
    background-color: green;
    margin: 10px;
    outline: none;
    border: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 17px;
}
.btn,.cpb{
    background-color: green;
    margin: 20px;
    color: #fff;
    width: 200px;
}
#body{
    height: 300px;
}